<h1>Editing statement</h1>

<%= render "form", bank_statement: @bank_statement %>

<br>

<div>
  <%= link_to "Show this statement", @bank_statement %> |
  <%= link_to "Back to statements", bank_statements_path %>
</div>
