<h1>Editing transition</h1>

<%= render "form", bank_transition: @bank_transition %>

<br>

<div>
  <%= link_to "Show this transition", @bank_transition %> |
  <%= link_to "Back to transitions", bank_transitions_path %>
</div>
