<p style="color: green"><%= notice %></p>

<h1>Transitions</h1>

<div id="bank_transitions">
  <% @bank_transitions.each do |bank_transition| %>
    <%= render bank_transition %>
    <p>
      <%= link_to "Show this transition", bank_transition %>
    </p>
  <% end %>
</div>

<%= link_to "New transition", new_bank_transition_path %>
