<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<%= render "form" %>


<% if @statement %>
  <%= turbo_stream_from @statement %>
  <div id='bank_transactions'>
    <% @bank_transactions.each do |bank_transaction| %>
      <%= render bank_transaction %>
    <% end %>
  </div>
<% end %>