<h1>Editing variable income</h1>

<%= render "form", variable_income: @variable_income %>

<br>

<div>
  <%= link_to "Show this variable income", @variable_income %> |
  <%= link_to "Back to variable incomes", variable_incomes_path %>
</div>
