<p style="color: green"><%= notice %></p>

<%= render @wallet %>

<div class='row'>
  <div class='col-sm-6 col-md-9'>
    <%= render "statements" %>
  </div>
  <div class='col'>
    <%= render "accounts" %>
  </div>
</div>
