<div id="<%= dom_id account %>">
  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= account.description %>
  </p>

</div>
